body {
	color: blue;
	min-width: 1600px;
	background-color:#FFF;
	margin:0px;
}

#container {
	width: 100%;
	overflow:hidden;
	background-color:#F2F5A9;
}

#plane{
	z-index: -1;
	float: left;
	background-color:#D8D8D8;
	margin-left:20px;
}

#end_animate {
	z-index: 10;
	margin-left:auto;
	margin-right:auto;
	margin-top:600px;
	float:left;
}

#answer_view{
	z-index: -1;
	float: right;
	background-color:#DFDFDF;
	margin-right:20px;
}

#step{
	position:absolute;
	margin-left:40px;
	font-size:200%;
}

.block {
	position: absolute;
}

#shadow {
	position: relative;
	margin-top: -30px;
	width: 100%;
	height: 60px;
	z-index: 20;
background: -webkit-linear-gradient(transparent, white, transparent);
background: -o-linear-gradient(transparent, white, transparent);
background: -moz-linear-gradient(transparent, white, transparent);
background: linear-gradient(transparent, white, transparent);
}

#end_text{
	float:right;
	width:200px;
	height:100px;
	margin-left:-100px;
}

#header{
	background-image:url('src/bg-header_wood.jpg');
	width:100%;
	height:30px;
}

.wall{
	background-image:url('src/wall.jpg');
}

#wall-left {
	position:absolute;
	height:100%;
	width:20px;
	top:30px;
	left:0;
	z-index:50;
}

#wall-right {
	position:absolute;
	height:100%;
	width:20px;
	right:0px;
	top:30px;
	z-index:50;
}
