#plane{
	background-color:#D8D8D8;
	height:200px;
	width:200px;
}

#answer_view{
	position:absolute;
	top:0;
	right:0;
	background-color:#DFDFDF;
	height:200px;
	width:200px;
}

.block {
	position: absolute;
}
